.create {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;

  &#{_text} {
    background-color: #fff;
    &:focus {
      border-bottom: 1px solid color('blue', 'base') !important;
      box-shadow: 0 1px 0 0 color('blue', 'base') !important;
    }
    &:focus + label {
      color: color('blue', 'base') !important;
    }
  }
}