.input-field {
  label {
    color: white;
  }
  input {
    color: white;
  }
}

.dropdown-content {
  background-color: color('grey', 'darken-3') !important;
}

.select-dropdown {
  li.disabled span {
    color: white;
  }

  li > span {
    color: color('blue', 'base');
  }
}

.select-wrapper  {
  .caret {
    fill: white;
  }
  input.select-dropdown:focus {
    border-bottom: 1px solid color('blue', 'base');
  }
}

.error-message {
  color: color('red', 'base') !important;
}

.btn {
  background-color: color('blue', 'base');
  &:hover {
    background-color: lighten(color('blue', 'base'), 10%);
  }
}

input.valid[type=text]:not(.browser-default) {
  border-bottom: 1px solid color('blue', 'base');
  box-shadow: 0 1px 0 0 color('blue', 'base');
}

.select-wrapper input.select-dropdown {
  padding-right: 30px;
  box-sizing: border-box;
}