.place {

  &#{_collection} {
    @extend .z-depth-3;
    border: 1px solid color('grey', 'darken-4');

    & .place_item {
      background-color: color('grey', 'darken-3');
      border-bottom: 1px solid color('grey', 'darken-4');
      color: white;
    }
  }

  &#{_name} {
    font-weight: bold;
  }

  &#{_link} {
      color: color('blue', 'base');
  }
}